.App {
  text-align: center;
}

body {
  background: white;
}

.img-fluid {
  width: 150px;
  height: 150px;
}
/* .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.client-img {
  padding: 2rem;
} */

.section-jobs .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.scroller::-webkit-scrollbar {
  height: 250px;
}
.scroller::-webkit-scrollbar-track {
  background: white;
}
.scroller::-webkit-scrollbar-thumb {
  background: #ddd;
  visibility: hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroller {
  overflow: auto;
  font: 16px/1.5 Arial;

  border: 1px solid #ddd;
  height: 250px;
}
